body {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: url(../res/img/bg.png);
	background-position: center;
	background-size: 
	overflow-x: hidden;
}

#container {
	background-color: rgba(255,255,255,0.7);
	margin: 50px 50px 50px 50px;
	height: 100%;
}

.center {
	text-align: center;
}